<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link type="text/css" rel="stylesheet" href = "static/style.css">
  <script src = "static/jquery-3.7.1.min.js"></script>
  <script src = "static/script.js" ></script>
  <title>Weather app</title>
</head>
  <body>
    <div class="search_box">
      <h1>simple weather app</h1>
          <p id="error-msg"></p>
      <span>
        <input class = "search_field" />
        <button class = "submit_button" >get</button>
      </span>
      <div class="forecast_box">
    </div>
  </body>
</html>